@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #0c1821;
  color: #f2f2f2;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
